.view.about {
  padding: var(--default-padding);
}

.view.about .info {
  width: calc(100% - 305px);
  padding-right: 24px;
  float: left;
}

.view.about .donate {
  width: 305px;
  float: right;
}

.view.about .donate iframe {
  border: none;
}

.view.about ul {
  padding: 0 0 0 15px;
  margin: 0;
}

.view.about ul li {
  margin: 0 0 12px;
}
