section.view.books {
  padding: var(--default-padding);
}

ul.books {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.books > li {
  margin-bottom: calc(var(--default-padding)/2);
}

ul.books > li > a {
  display: block;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  transition: border-color 0.2s ease-in-out;
}

ul.books > li > a:hover {
  border-color: var(--primary-color-light);
}

ul.books > li > a:hover header {
 border-color: var(--primary-color-light); 
}

ul.books > li > a > header {
  display: block;
  padding: 12px;
  border-bottom: 1px solid var(--primary-color);
  background-color: var(--primary-color-dark);
  transition: border-color 0.2s ease-in-out;
}

ul.books > li > a > section {
  display: block;
  padding: 12px;
  font-style: italic;
  font-size: 12px;
  color: var(--primary-color-light);
}
