ul.books {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.books > li {
  padding: calc(var(--default-padding)/2) var(--default-padding) calc(var(--default-padding)/2) var(--default-padding);
}
