:root {
  --some-variable: 255, 255, 255;
  --default-padding: 24px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --some-variable: 0, 0, 0;
  }
}


body {
  background-color: #1c2128;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

a.active {
  color: orange;
}

header {
  display: block;
  width: 100%;
  padding: var(--default-padding);
  background-color: #2a3544;
}

header h1 {
  line-height: 1em;
  margin: 0;
  padding: 0;
}

nav a {
  display: inline-block;
  padding: 18px;
  padding-left: var(--default-padding);
  padding-right: var(--default-padding);
}

nav a:hover {
  background-color: #2a3544;
  transition: background-color 0.2s ease-in-out;
}

main {
  padding: var(--default-padding);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
