:root {
  --default-padding: 24px;
  --primary-color: #2a3544;
  --secondary-color: #ffa200;
}

@media (prefers-color-scheme: dark) {
  :root {
    --some-variable: 0, 0, 0;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-color: #1c2128;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

a.active {
  color: var(--secondary-color);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

header {
  display: block;
  width: 100%;
  padding: var(--default-padding);
  background-color: var(--primary-color);
  overflow: hidden;
}

header h1 {
  line-height: 1em;
  margin: 0;
  padding: 0;
  float: left;
}

header .global-search {
  float: right;
}

@media (max-width: 600px) {
  header h1 {
    float: none;
    margin-bottom: 6px;
  }
  header .global-search {
    float: none;
    width: 100%;
  }
}

nav a {
  display: inline-block;
  padding: 18px;
  padding-left: var(--default-padding);
  padding-right: var(--default-padding);
}

nav a:hover {
  background-color: #2a3544;
  transition: background-color 0.2s ease-in-out;
}

body > main {
  height: calc(100% - 136px);
  max-width: 100%;
  overflow: auto;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
