:root {
  --default-padding: 24px;
  --primary-color: #2a3544;
  --primary-color-light: #384557; /* #404d5f; */
  --primary-color-dark: #202731;
  --primary-color-text: #546378;
  --secondary-color: #ffa200;
  --secondary-color-dark: #e39000;
  --border-radius: 6px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --some-variable: 0, 0, 0;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-color: #1c2128;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #fff;
  font-size: 15px;
}

a {
  color: var(--secondary-color);
  text-decoration: underline;
}

h1, h2, h3 {
  font-weight: normal;
  margin-top: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

::selection {
  background-color: #ddd;
}

body > main {
  height: calc(100% - 89px);
  max-width: 100%;
  overflow: auto;
}

/* 
  Special handling for mobile devices
  when the search is present in the 
  header
*/
@media (max-width: 600px) {
  body > main.with-search {
    height: calc(100% - 121px);
  }
}
/*
 /
*/

body > header {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: var(--default-padding);
  background-color: var(--primary-color);
  overflow: hidden;
  box-shadow: 0 5px 5px rgb(0,0,0,0.1);
  position: relative;
  border-bottom: 1px solid #384557;
}

body > header h1:before {
  content: ' ';
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #de5039;
  position: relative;
  top: 5px;
  margin-right: 9px;
  box-shadow: 0 0.5px 0 rgba(255,255,255,0.2);
}

body > header h1:after {
  content: ' ';
  display: inline-block;
  height: 27px;
  width: 3px;
  background-color: #de5039;
  position: absolute;
  left: 13px;
  top: 6px;
  transform: rotate(-45deg);
}

body > header h1 {
  position: relative;
  line-height: 1em;
  margin: 0;
  padding: 0;
  float: left;
  font-weight: normal;
}

body > header a {
  color: #fff;
  text-decoration: none;
}

body > header .global-search {
  float: right;
}

@media (max-width: 600px) {
  body > header h1 {
    float: none;
    margin-bottom: 6px;
  }
  body > header .global-search {
    float: none;
    width: 100%;
  }
}

body > nav a {
  display: inline-block;
  padding: 18px;
  padding-left: var(--default-padding);
  padding-right: var(--default-padding);
}

body > nav a:hover {
  background-color: #2a3544;
  transition: background-color 0.2s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@keyframes spin { 
  100% { 
    transform:rotate(360deg); 
  } 
}

.loading-indicator {
  display: inline-block;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  border: 2px solid rgba(255,255,255,0.5);
  border-left-color: rgba(255,255,255,1);
  animation:spin 1s linear infinite;
}

