.view.root {
  padding: var(--default-padding);
}

.view.root .root-search {
  width: 100%;
  max-width: 600px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 25%;
}

.view.root .root-search input {
  width: calc(100% - 84px);
  border: none;
  height: 48px;
  padding: 6px 12px;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  background-color: #fff;
  color: #333;
}

.view.root .root-search button {
  border: none;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  height: 48px;
  padding: 6px 12px;
  background-color: var(--secondary-color);
  width: 84px;
  text-align: center;
  text-shadow: 0 1px 0 var(--secondary-color-dark);
}

.view.root .donation-link {
  margin-top: 12px;
  width: 100%;
  max-width: 600px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.view.root .donation-link a {
  color: var(--secondary-color);
  text-decoration: underline;
}
