.view.detail {
  padding: var(--default-padding);
}

.view.detail h2 {
  font-weight: normal;
  margin: 0 0 24px;
}

.view.detail > .back {
  display: block;
  font-size: 15px;
  line-height: 15px;
  margin: 0 0 12px;
  color: var(--primary-color-light);
  transition: color 0.2s ease-in-out;
}

.view.detail > .back:before {
  display: inline-block;
  content: '➜';
  margin-right: 6px;
  transform: rotate(180deg);
}

.view.detail > .back:hover {
  color: #fff;
}

.view.detail h2 > .author {
  font-style: italic;
  font-size: 15px;
  line-height: 15px;
}

.view.detail .cover-image {
  margin: 0 0 12px 12px;
  float: right;
}

@media (max-width: 600px) {
  .view.detail .cover-image {
    float: none;
    margin-left: 0;
  }
}