.view.detail {
  padding: var(--default-padding);
}

.view.detail h2 {
  font-weight: normal;
  margin: 0 0 24px;
}

.view.detail > .back {
  display: block;
  font-size: 15px;
  line-height: 15px;
  margin: 0 0 12px;
  color: var(--primary-color-light);
  transition: color 0.2s ease-in-out;
}

.view.detail > .back:before {
  display: inline-block;
  content: '➜';
  margin-right: 6px;
  transform: rotate(180deg);
}

.view.detail > .back:hover {
  color: #fff;
}

.view.detail h2 > .author {
  font-style: italic;
  font-size: 15px;
  line-height: 15px;
}

.view.detail .cover-image {
  margin: 0 0 12px 12px;
  float: right;
}

@media (max-width: 600px) {
  .view.detail .cover-image {
    float: none;
    margin-left: 0;
  }
}

.view.detail h3 {
  clear: both;
  font-weight: normal;
}

.view.detail .ban-info {
  clear: both;
  width: 100%;
  display: none;
}

@media (min-width: 721px) {
  .view.detail .ban-info.desktop {
    display: block;
  }
}

.table-container {
  border: 1px solid var(--primary-color-light);
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container table thead tr {
  white-space: nowrap;
  text-align: left;
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color-light);
}

.table-container table th {
  padding: 12px;
}

.table-container table td {
  padding: 9px 12px;
}

.table-container table tbody tr:nth-child(odd) {
  background-color: #232c37;
}

.table-container table tbody tr:nth-child(even) {
  background-color: var(--primary-color-dark);
}

@media (max-width: 720px) {
  .view.detail .ban-info.mobile {
    display: block;
  }
}

.view.detail .ban-info > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid var(--primary-color-light);
  border-radius: var(--border-radius);
}

.view.detail .ban-info > ul > li:first-child {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.view.detail .ban-info > ul > li:last-child {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.view.detail .ban-info > ul > li:only-child {
  border-radius: var(--border-radius);
}

.view.detail .ban-info > ul > li {
  padding: 12px;
}

.view.detail .ban-info > ul > li:nth-child(odd) {
  background-color: #232c37;
}

.view.detail .ban-info > ul > li:nth-child(even) {
  background-color: var(--primary-color-dark);
}

.view.detail .ban-info > ul > li:not(:last-child) {
  border-bottom: 1px solid var(--primary-color-light);
}

.view.detail .ban-info > ul > li > span {
  display: block;
  margin-bottom: 6px;
}

.view.detail .ban-info > ul > li > span strong {
  color: var(--primary-color-light);
}

.view.detail .ban-info > ul > li > span:last-child {
  margin-bottom: 0;
}
