.global-search {
  display: inline-block;
  height: 32px;
  border-radius: var(--border-radius);
}

.global-search:after {
  content: '🔍';
  width: 32px;
  display: inline-block;
  height: 32px;
  text-align: center;
  background-color: var(--secondary-color);
  vertical-align: top;
  line-height: 32px;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.global-search > input {
  width: calc(100% - 32px);
  background-color: #fff;
  border: none;
  height: 100%;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  padding: 0 12px;
  color: #333;
}
